.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Habilidade Torrente (Movimentos de água) - Azul */
.habilidade-torrente {
    color: blue; /* Cor do texto */
    background-color: lightblue; /* Cor de fundo */
}

/* Habilidade Brasas (Movimentos de fogo) - Vermelho */
.habilidade-brasas {
    color: red; /* Cor do texto */
    background-color: orange; /* Cor de fundo */
}

/* Habilidade Espírito Vital (Evitar sono) - Verde */
.habilidade-espirito-vital {
    color: green; /* Cor do texto */
    background-color: lightgreen; /* Cor de fundo */
}

/* Habilidade Clorofila (Aumenta a velocidade) - Amarelo */
.habilidade-clorofila {
    color: yellow; /* Cor do texto */
    background-color: gold; /* Cor de fundo */
}

/* Habilidade Levitação (Imune a movimentos terrestres) - Roxo */
.habilidade-levitacao {
    color: purple; /* Cor do texto */
    background-color: lavender; /* Cor de fundo */
}

/* Habilidade Absorver Água (Cura com movimentos de água) - Azul Claro */
.habilidade-absorver-agua {
    color: #00a2e8; /* Cor do texto */
    background-color: #b5e61d; /* Cor de fundo */
}

/* Habilidade Coragem (Aumenta poder dos movimentos soco) - Vermelho Escuro */
.habilidade-coragem {
    color: darkred; /* Cor do texto */
    background-color: #ffcc00; /* Cor de fundo */
}

/* Habilidade Filtro (Reduz dano de movimentos supereficazes) - Cinza */
.habilidade-filtro {
    color: gray; /* Cor do texto */
    background-color: #999; /* Cor de fundo */
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail .habilidades .habilidade{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pokemon .detailsPokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 0.625rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}